<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(0, 0, 0, 0.74);">
  <div class="container">
    <a class="navbar-brand" routerLink="">SweetBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" *ngIf="_authenticationService.isAdmin()" routerLink="/users">All Users</a>
        </li>
        <li class="nav-item active">
	        <a class="nav-link" *ngIf="_authenticationService.isLoggedIn()"> You have to pay: 
            <span style="color:#5bc0de">{{toPayAmount}}</span>֏</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="_authenticationService.isAdmin()" routerLink="/addItem">Add Item</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="!_authenticationService.isLoggedIn()" routerLink="/logIn">Sign In
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <form class="form-inline my-2 my-lg-0">
            <input id="typeahead-basic" name="name" type="text" class="form-control" placeholder="Search"
                    [(ngModel)]="name" (keyup.enter)="search()" [ngbTypeahead]="autocomplete"/>
            <img id="searchIcon" src="../../../assets/search-icon-white.svg" (click)="search()">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" name="name"
                        (keydown.enter)="search()" [(ngModel)]="name" aria-label="Search"> -->
            <!-- <button class="btn btn-outline-danger"  type="submit">Search</button> -->
        </form>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="_authenticationService.isLoggedIn()" routerLink="/cart"><img id="cart"
              src="../../../assets/white-shopping-cart.png" title="Cart">
            <!-- <img id="circle" src="../../../assets/redCirclesvg.png"> -->
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="_authenticationService.isLoggedIn()" data-toggle="modal"
              data-target="#logOutModal" routerLink="">Log Out
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="logOutModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to log out?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-info mr-3" (click)="logOut()" data-dismiss="modal">Log Out</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>