
<div *ngIf="noItem">
  <h1 style="color: white">There are no items in the cart.</h1>
</div>
<div class="container">
  <div class="col-lg-9" *ngIf="!noItem">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 text-center" *ngFor="let item of addedItems">
        <div class="card border-danger">
          <div class="card-body">
            <div title="Remove" id="x" data-toggle="modal" (click)="showModal = true" data-target="#removeModal"><h5>&times;</h5></div>
            <h4 class="card-title">
              <a>{{item.name}} </a>
            </h4>
            <h5><a id="priceColor">{{item.price}}</a>֏</h5>
            <div class="form-group row" style="justify-content: center;">
              <h4>Quality: {{item.quality}}</h4>
            </div>
            <button id="removeButton" type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal" (click)="showModal = true">Remove</button>
            <div id="countInfo">{{item.count}} left</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-container">
  <div id="priceCard" class="card border-danger" *ngIf="!noItem">
      <div class="row">
        <div style="margin-left: 18px" class="card-body"><h4>Total Price: {{totalPrice}}֏</h4></div><button id="buyAllButton" type="button" class="btn btn-danger">Buy All</button>
    </div>
  </div>
</div>
