<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete the following item? {{itemId}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-danger" (click)="remove()" data-dismiss="modal">Delete</button>
        &nbsp;
        <button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>