<div class="background" [ngStyle]="{'background-image': getUrl()}">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(255, 208, 0, 0.74);">
    <div class="container">
      <a class="navbar-brand" (click)="authenticationPageBoolian()" routerLink="/shop">SweetBox</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" >
            <a class="nav-link" *ngIf="!_authenticationService.isLoggedIn()" (click)="authenticationPageBoolian()" routerLink="/logIn">Sign In
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" name="name" (keydown.enter)="search()" [(ngModel)]="name" aria-label="Search">
              <button class="btn btn-outline-danger" (click)="search()" type="submit">Search</button>
          </form>
          <li class="nav-item active">
            <a class="nav-link" *ngIf="_authenticationService.isLoggedIn()" (click)="logOut()" routerLink="/shop">Log Out
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>
  <!-- <img width="192.2" height="37.6" alt="Macadamian Logo" src="../assets/macadamian-logo.jpg"> -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>