<div class="background" [ngStyle]="{'background-image': getUrl()}">
  <img width="192.2" height="37.6" alt="Macadamian Logo" src="../assets/macadamian-logo.jpg">
  <div style="text-align: center">
    <h1>
      {{ title }}!
    </h1>
  <div class="navbar navbar-default">
    <div class="flex-container">
      <a routerLink="/">
        <button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span> Home
        </button>
      </a>
      <a routerLink="/search">
        <button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>