/* .background {
  height: 100%;
  background-position: 50% 50%;
  opacity: 0.5; 
} */
.flex-container {
  display: flex;
  flex-direction: row;
  top: 0px;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
}