.background {
  min-height: 100vh;
  background-position: 50% 50%;
}
.flex-container {
  display: flex;
  flex-direction: row;
  top: 0px;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
}