<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Sign In</h1>
      <p class="lead">Not a member?<br> Please <a routerLink="/signUp">SignUp</a> instead.</p>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" (click)="logIn()" class="btn btn-default">LogIn</button>
    </div>
  </div>
</div>