.card {
  height: 160px;
}

#buyButton:hover + #countInfo {
  display: block;
}

#countInfo {
  display: none;
}

#priceColor {
  color:rgb(156, 156, 156);
}

#edit-icon {
  cursor: pointer;
  height: 12px;
  width: 12px;
}

#x {
  position: absolute;
  right: 4px;
  top: -2px;
  cursor: pointer;
  color: #dc3545;
}