.card {
  height: 160px;
}

#buyButton:hover + #countInfo {
  display: block;
}

#countInfo {
  display: none;
}

#priceColor {
  color:rgb(156, 156, 156)
}

#edit-icon {
  height: 12px;
  width: 12px
}