<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>You can edit itams of your shop</h2>
        <div class="form-group">
          <label for="type">Type</label>
          <input type="type" class="form-control" name="type" placeholder="{{itemToUpdate.type}}" [(ngModel)]="itemToUpdate.type">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" name="name" placeholder="{{itemToUpdate.name}}" [(ngModel)]="itemToUpdate.name">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" name="price" placeholder="{{itemToUpdate.price}}" [(ngModel)]="itemToUpdate.price"
                min="1" (keydown.enter)="addItem()">
        </div>
        <div class="form-group">
          <label for="barcode">Barcode</label>
          <input type="text" class="form-control" name="barcode" placeholder="{{itemToUpdate.barcode}}" 
                [(ngModel)]="itemToUpdate.barcode">
        </div>
        <div class="form-group">
          <label for="count">count</label>
          <input type="number" class="form-control" name="count" placeholder="{{itemToUpdate.count}}" 
                min="1" [(ngModel)]="itemToUpdate.count" (keydown.enter)="updateItem()">
        </div>
        <div class="form-group">
          <label style="margin-right: 10px;" for="selectImage">Image:</label>
          <input type="file" class="form-control-file" (change)="imputImage($event)" name="file" id="file"
                accept="image/png, image/jpeg, image/jpg" #fileInput>
          <button class="btn btn-defauly" name="selectImage" id="selectImage" (click)="fileInput.click()">
                  Select File</button>
        </div>
        <div *ngIf="file" class="img-preview-container">
          <div class="img-preview"
            [ngStyle]="{'background-image': 'url('+ file + ')'}">
          </div>     
        </div>
        <button type="submit" class="btn btn-info mb-5" (click)="updateItem()">Update Item</button>
    </div>
  </div>
</div>