#file {
  display: none;
}

.img-preview-container {
  border-radius: 15px;
  border: 2px solid #5bc0de;
  background-color: #f7f7f7;
  position: relative;
  padding-top: 20px;
  height: 190px;
  width: 190px;
  margin-bottom: 20px;
}

.img-preview {
  border-radius: 10px;
  border: 1px solid #f7f7f7;
  background: center center no-repeat;
  background-size: contain;
  height: 150px;
  width: 150px;
  margin: auto;
}