<table class="table table-light table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">E-mail</th>
      <th scope="col">Debt</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.toPay}}</td>
      <td><button id="resetbutton" type="button" class="btn btn-info" data-toggle="modal" data-target="#resetModal"
                  (click)="storeEmailToResetDebt(user.email)">Reset or Change debt value</button></td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#resetAllModal">Reset All</button>

<!-- Reset modal -->

<div class="modal fade" id="resetModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter change value or reset.</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showModal = false">&times;</button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="number" class="form-control" name="newDebt" placeholder="New debt" [(ngModel)]="newDebt">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" (click)="reset()" data-dismiss="modal">Change</button>
            <button class="btn btn-info" type="button" (click)="reset(0)" data-dismiss="modal">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reset All Modal -->

<div class="modal fade" id="resetAllModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to reset all debts?</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="showModal = false">&times;</button>
      </div>
      <div class="modal-body">
        <button class="btn btn-info mr-2" type="button" (click)="resetAll()" data-dismiss="modal">Reset All</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">no</button>
      </div>
    </div>
  </div>
</div>