<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" style="cursor:pointer; font-weight:bold" *ngIf="clickedOnType" (click)="showAllItems()">All Items</a>
        <a class="list-group-item list-group-item-action" *ngFor="let category of categories" style="cursor:pointer" [class.selected]="category" (click)="getByType(category)">{{category}}</a>
      </div>
    </div>
    <div class="col-lg-9" *ngIf="!clickedOnType">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 text-center" *ngFor="let item of item">
          <div class="card h-70">
            <div class="card-body">
              <h4 class="card-title">
                <a>{{item.name}}</a>
              </h4>
              <h5>{{item.price}}</h5>
              <button type="button" class="btn btn-danger" (click)="buyIf()">Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9" *ngIf="clickedOnType">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 text-center" *ngFor="let item of categoryItems">
          <div class="card h-70">
            <div class="card-body">
              <h4 class="card-title">
                <a>{{item.name}}</a>
              </h4>
              <h5>{{item.price}}</h5>
              <button type="button" class="btn btn-danger" (click)="buyIf()">Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

