<div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="list-group" *ngFor="let item of item">
          <div *ngIf="noRepeatType()">
            <a href="#" class="list-group-item">{{item.type}}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 text-center" *ngFor="let item of item">
            <div class="card h-70">
              <div class="card-body">
                <h4 class="card-title">
                  <a>{{item.name}}</a>
                </h4>
                <h5>{{item.price}}</h5>
                <button type="button" class="btn btn-danger">Buy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>